locals.zsh
log/.zsh_history
projects.zsh
custom/*
!custom/libxml2.zsh
!custom/ruby.zsh
!custom/colors.zsh
custom
!custom/plugins/example
!custom/example.zsh
!custom/corrections.zsh
*.swp
!custom/example.zshcache
cache/
log/
